<?xml version="1.0"?>
<launch>
  <arg name="model" value="$(find mobile_robot)/models/my_vehicle_hw/model.sdf"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true" />
    <arg name="headless" value="false"/>
    <arg name="debug" value="false" />
  </include>

  <node name="sdf_spawner"
      pkg="gazebo_ros"
      type="spawn_model"
      respawn="false"
      output="screen"
      args="-z 1.0 
            -unpause
            -sdf
            -file $(arg model)
            -model my_vehicle_hw"/>

  <rosparam command="load" file="$(find mobile_robot)/config/mobile_robot.yaml" />
  
  <node name="bot_controller_spawner"
      pkg="controller_manager"
      type="spawner"
      args="joint_state_controller
            right_front_arm_controller
            right_back_arm_controller
            left_front_arm_controller
            left_back_arm_controller"/>
</launch>
