<?xml version='1.0'?>
<robot name="simple_model" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="world"/>


  <link name='CarBody'>
    <inertial>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="0.166667" ixy="0.0" ixz="0.0"
        iyy="0.166667" iyz="0.0"
        izz="0.166667"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz = "0 0 0.5"/>
      <geometry>
        <box size="2.0 1.3 0.3"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.0 1.3 0.3"/>
      </geometry>
    </collision>
  </link>  


  <joint name="joint_0" type="fixed">
    <parent link="world"/>
    <child link="CarBody"/>
  </joint>



</robot>
